<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>AniSync</string>
    <key>AniSyncKeychainAccessGroup</key>
    <string>$(AppIdentifierPrefix)me.heeka.anisync.shared</string>
    <key>AniListClientID</key>
    <string>$(ANILIST_CLIENT_ID)</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>me.heeka.anisync.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>anisync</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
